/*
	KDE Plasma 5
	This theme goes with the following Firefox CSS theme.
	https://userstyles.org/styles/118261/kde-plasma-5-dark-breeze-brisa-oscuro
*/
body{
	background:#31363b;
}
h2{
	color:#64686b;
}
a{
	color:#fcfcfc;
}
#text{
	color:#64686b;
}