/*
	Cyberpank theme.
*/
body{
	background:#000000;
}
h2{
	color:#00e600;
}
a{
	color:#00FE00;
}
#text{
	color:#00e600;
}
#search-bar{
	background:;
}
#search-bar::-moz-selection{
	background:none;
	color:;
}
#search-bar::selection{
	background:#333;
	color: #fff;
}