*{margin:0px;padding:0px;}
*::-moz-selection{background:none;}
*::selection{background:none;}
body{
	width:100vw;
	height:100vh;
	font-family:Ubuntu Mono;
	font-size:20px;
	/*background:#4d68b3;*/
	background:#31363b;
}
a{
	outline:none;
}
#wrap{
	width:100vw;
	height:100vh;
}
.links{
	width:20%;
	text-align:center;
	float:left;
}
h2{
	/*color:#7796f1;*/
	color:#64686b;
	padding:10px 0;
}
ul{
	list-style:none;
}
a{
	color:#fff;
	display:block;
	padding:5px 0;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

#text-wrap{
	position:absolute;
	bottom:0;
	margin-left:20px;
}
#text{
	color:#fff;
	font-size:70px;
}
