/*
  Numix color palette.
*/
body{
  background:#2D2D2D;
}
h2{
  color:#D64937;
}
a{
  color:#535353;
}
a:hover{
  color:#DCDCDC;
}
#text{
  color:#D64937;
}
#search-bar{
  background:;
}
#search-bar::-moz-selection{
  background:none;
  color:;
}
#search-bar::selection{
  background:#333;
  color: #fff;
}
